<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Spore Twig Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body style="font-family: Tahoma, serif;">
    <p>In this example, we're be using <a href="{{ url }}">{{ name }}</a> which, is <em>{{ description }}</em></p>
</body>
</html>
